<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact-f</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <p>
    มีพี่น้อง <br>{{Family}}
  </p>

  <ion-button color="light" expand="full" shape="round"routerLink="/family" routeDirection="back">
  Go to Back</ion-button>
  <ion-button color="light" expand="full" shape="round"routerLink="/social" routeDirection="back">
  Go to Social
  </ion-button>

</ion-content>