<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <p>
    Social
  </p>

  <ion-button expand="full" shape="round" (click)="goToContact()">
    <ion-icon slot="start" name="start"></ion-icon>

    Open Contact Page
  </ion-button>
  <ion-button expand="full" shape="round" (click)="goBack()">
    <ion-icon slot="start" name="start"></ion-icon>
    Open to Home Page 
  </ion-button>

</ion-content>
