<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header><ion-content >
  <ion-list>
    <ion-item detail *ngFor="let c of newses"> <ion-label>
      <ion-text color="primary">
        <h3>{{ c.status}}</h3>
      </ion-text>
      <p>{{ c.source }}</p>
    </ion-label>
  <ion-badge slot="end" color="danger">{{ c.name }}</ion-badge></ion-item>
  </ion-list>
</ion-content>
