<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact-s</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <p>
    Social <br>{{Social}}<br>
    IG {{IG}}<br>
    ID {{ID}}<br>
 
  </p>

  <ion-button color="light" expand="full" shape="round"routerLink="/social" routeDirection="back">
  Go to Back</ion-button>
  <ion-button color="light" expand="full" shape="round"routerLink="/home" routeDirection="back">
  Go to Home
  </ion-button>

</ion-content>