<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact-a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <p>
    ที่อยู่ <br>{{Address}}
  </p>

  <ion-button color="light" expand="full" shape="round"routerLink="/favorites" routeDirection="back">
  Go to Back</ion-button>
  <ion-button color="light" expand="full" shape="round"routerLink="/family" routeDirection="back">
    Go to family
  </ion-button>

</ion-content>